@import url(/vendor/chartist.min.css);
.container {padding:10px 20px;box-sizing: border-box;}
body { font-family: "Trebuchet MS"; line-height: 1; color: #666; }
h1,h2,h3 { color: #333; }
th { font-size: .6rem; }
thead th { text-align: center; padding: 0 0 10px; height: 50px; }
thead th div { transform: rotate(-90deg); margin: 0 -10px; }
tbody th { text-align: left; padding: 0; white-space: nowrap; }
td { text-align: center; }
table { border-collapse: collapse; }
.ct-chart,
table { width:100%; }
.ct-chart { margin: 0 -20px;}
.day0 th,
.day0 td { border-bottom: 3px solid #666; }
/*.ct-perfect-fourth {width:500px;}*/
.legendBox { display: inline-block; width: 13px; height: 13px; margin-right: 10px;}
.ct-legend { list-style: none;}
.ct-legend li { display: inline-block; margin-right: 40px;}
.ct-series-a .legendBox { background: #d70206 }
.ct-series-b .legendBox { background: #f05b4f }
.ct-series-c .legendBox { background: #f4c63d }
.ct-series-d .legendBox { background: #d17905 }
.ct-series-e .legendBox { background: #453d3f }
.ct-series-f .legendBox { background: #59922b }
.ct-series-g .legendBox { background: #0544d3 }
.ct-series-h .legendBox { background: #6b0392 }
.ct-series-i .legendBox { background: #f05b4f }
.ct-series-j .legendBox { background: #dda458 }
.ct-series-k .legendBox { background: #eacf7d }
.ct-series-l .legendBox { background: #86797d }
.ct-series-m .legendBox { background: #b2c326 }
.ct-series-n .legendBox { background: #6188e2 }
.back { float: right;}
