@import url(vendor/nouislider.min.css);
body { background: #eee; font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.4; color: #333; margin: 0; }
.time { top: 13px; position: relative; margin-right: 5px; }
.fieldLabel { display: none }
.locationLabel { cursor: pointer; }
.information { font-size: 16px; }
.locationBoxes { overflow: hidden; }
.showDetails { max-width: initial; }
.showDetails:after { display: none; }
.showDetails .locationLabel { display: none; }
.showDetails .fieldLabel { display: inline-block; }
.modal { margin: 0 auto; max-width: 700px; box-shadow: 1px 1px 3px 10000px rgba(0, 0, 0, 0.5); line-height: 1.5; right: 20px; position: fixed; padding: 10px; display: none; left: 20px; top: 20px; background: #fff; z-index: 1; bottom: 20px; max-height: 900px; }
.feedbackForm { display: -webkit-flex; display: -ms-flexbox; display: flex; max-width: 100%; width: 300px; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.feedback { margin-bottom: 10px; width: 100%; height: 50px; display: block; }
.submitFeedback { border: 3px solid; }
.submitFeedback:disabled { color: #999; border-color: #eee; }
.links { margin-top: 30px; font-size: 16px; line-height: 2; }
.showDetails .modal { display: block; }
.place { text-transform: capitalize; }
.address { }
.links .tel,
.links .map { background: 100% 50% no-repeat; padding: 10px 35px 10px 0; }
.links .tel { background-image: url(tel.png); }
.links .map { background-image: url(pin.png); }
#map_wrapper { padding: 0; }
#map_canvas { width: 100%; height: 100%; }
h3,
h4 { padding-top: 0.5em; text-transform: capitalize; margin: 0.5em 0 0; }
h3 { margin-bottom: 10px; }
.close { cursor: pointer; color: #aaa; position: absolute; width: 30px; border-radius: 100px; border: 2px solid #aaa; height: 30px; font-size: 30px; line-height: 0.8; text-align: center; top: 0; left: 100%; margin-left: -15px; margin-top: -15px; background: #eee; }
.day1 { border-top: 3px solid #ccc; }
.day0,
.day6 { color: #999; }
.titleContainer { -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; display: -webkit-flex; display: -ms-flexbox; display: flex; }
button { outline: none; background-color: #fff; display: inline-block; margin-bottom: 10px; margin-left: 5px; color: #333; padding: 5px; border: 3px solid #333; border-bottom-style: none; border-radius: 2px; }
.filters button { border: 3px solid #666; color: black; cursor: pointer; }
label { font-size: 11px; cursor: pointer; }
button.bubble { border-bottom: none; border-radius: 20px 20px 0 0; }
button.indoor { border-bottom: none; }
button.outdoor { border: none; border-bottom: 3px solid #666; }
button.double { }
button.meilahti { border-color: #449d44; color: #449d44; }
button.herttoniemi { border-color: #337ab7; color: #337ab7; }
button.kulosaari { border-color: #31b0d5; color: #31b0d5; }
button.merihaka { border-color: #f0ad4e; color: #f0ad4e; }
button.taivallahti { border-color: #d9534f; color: #d9534f; }
button.tali { border-color: #d454bf; color: #d454bf; }
button.tapiola { border-color: #a8714e; color: #a8714e; }
.meilahti .meilahti,
.herttoniemi .herttoniemi,
.kulosaari .kulosaari,
.merihaka .merihaka,
.taivallahti .taivallahti,
.tapiola .tapiola,
.tali .tali,
.outdoor .outdoor,
.indoor .indoor,
.single .single,
.bubble .bubble { display: none; }
.filters { margin: 0 auto; max-width: 1024px; box-sizing: border-box; border-bottom: 1px solid #ccc; padding: 0 10px 0; width: 100%; position: fixed; background-color: #fff; z-index: 1; }
.jumpToDateTitle { font-size: 11px; }
.jumpToDateContainer { display: inline-block; }
.timeFilterContainer { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
.timeFilterStart,
.timeFilterEnd { display: block }
.rangeLabel { width: 100px; line-height: 3; }
.jumpToDate { display: none; }
#slider { margin: 10px 20px 10px 10px; width: 200px; }
header { position: fixed; top: 0; background: #31b0d5; color: #fff; width: 100%; text-transform: uppercase; z-index: 1; }
nav ul { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; padding: 0; margin: 0 20px; }
nav li { display: inline-block; padding: 10px 0; cursor: pointer; }
nav li.selected { cursor: default; }
.selected { text-decoration: underline; }
.container { margin: 0 auto; background: #fff; }
.toggleFilters { background: url(search_options_icon.png) no-repeat 50% 50%; width: 30px; height: 30px; position: absolute; right: 10px; top: 10px; }
.toggleMapInformation { top: 10px; position: relative; display: inline-block; background: url(pin.png) no-repeat 50% 50%; width: 20px; height: 30px; }
.locationsContainer { margin-right: 40px; padding-bottom: 0; }
.locationsContainer button { margin: 0 0 5px; }
.toggleInformation { position: absolute; top: 50px; right: 5px; display: block; width: 20px; height: 20px; color: #fff; background: #258DAB; font-family: "Times New Roman", serif; text-align: center; line-height: 1; font-size: 20px; border-radius: 100px; text-decoration: none; font-style: italic; font-weight: bold; }
.filters .close { font-size: 40px; border: none; right: 0; top: 20px; left: initial; background: none; color: #258dab; }
.filters .toggleFilters { display: none; }
.filters.collapsed .toggleFilters { display: block }
.filters.collapsed { padding-top: 10px; }
.filters.collapsed .locationsContainer .inactive,
.filters.collapsed .toggle,
.filters.collapsed .fieldTypeContainer,
.filters.collapsed .timeFilterContainer,
.filters.collapsed .toggleMapInformation,
.filters.collapsed .toggleInformation,
.filters.collapsed .close,
.filters.collapsed .jumpToDateContainer { display: none; }
.detail { box-shadow: 0 0 3px 0 #ccc; min-height: 1024px; max-width: 1024px; }
button:active { outline: none; }
button.inactive { color: #999; background: none; border-color: #eee; box-shadow: none; }
.loading:after { content: 'Ladataan...'; display: block; font-style: italic; margin: 10px 0; }
.timestamp { margin-left: 10px; font-size: 10px; margin-bottom: 10px; }
.timeRow { display: -webkit-flex; display: -ms-flexbox; display: flex; line-height: 0; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.timeWrapper { position: relative; overflow: hidden; }
a,
a:visited { color: #258DAB; }
#schedule { padding: 160px 10px 0; }
#schedule.collapsed { padding: 70px 10px 0; }
.h60 .h60,
.h65 .h65,
.h70 .h70,
.h75 .h75,
.h80 .h80,
.h85 .h85,
.h90 .h90,
.h95 .h95,
.h100 .h100,
.h105 .h105,
.h110 .h110,
.h115 .h115,
.h120 .h120,
.h125 .h125,
.h130 .h130,
.h135 .h135,
.h140 .h140,
.h145 .h145,
.h150 .h150,
.h155 .h155,
.h160 .h160,
.h165 .h165,
.h170 .h170,
.h175 .h175,
.h180 .h180,
.h185 .h185,
.h190 .h190,
.h195 .h195,
.h200 .h200,
.h205 .h205,
.h210 .h210,
.h215 .h215,
.h220 .h220,
.h225 .h225 { display: none; }
