@import url(vendor/nouislider.min.css);
body { background: #eee; font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.4; color: #994000; margin: 0; }
.time { top: 13px; position: relative; margin-right: 5px; }
.locationLabel { text-transform: capitalize; cursor: pointer; padding: 7px 7px 0; }
.information { font-size: 16px; }
.locationBoxes { display: flex; overflow: hidden; }
.showDetails { max-width: initial; }
.showDetails:after { display: none; }
.showDetails .fieldLabel { display: inline-block; }
.modal { margin: 0 auto; max-width: 700px; box-shadow: 1px 1px 3px 10000px rgba(0, 0, 0, 0.5); line-height: 1.5; right: 20px; position: fixed; padding: 10px; display: none; left: 20px; top: 20px; background: #fff; z-index: 2; bottom: 20px; max-height: 900px; }
.modal .button {width: auto;}
.feedbackForm { display: flex; max-width: 100%; width: 300px; flex-wrap: wrap; justify-content: flex-end; }
.feedback { margin-bottom: 10px; width: 100%; height: 50px; display: block; }
.links { font-size: 16px; line-height: 2; }
.showDetails .modal { display: block; }
.place { text-transform: capitalize; }
#map_wrapper { padding: 0; }
#map_canvas { width: 100%; height: 100%; }
h1,
h2 { text-transform: capitalize; color: #ff6900; }
h3,
h4 { padding-top: 0.5em; text-transform: capitalize; margin: 0.5em 0 0; color: #ff6900; }
h3 { margin-bottom: 10px; }
h3 a {font-size: 12px; font-weight: normal; color: #ff6900;}
.close { cursor: pointer; color: #ff8b01; position: absolute; width: 30px; border-radius: 100px; border: 2px solid #aaa; height: 30px; font-size: 30px; line-height: 0.8; text-align: center; top: 0; left: 100%; margin-left: -15px; margin-top: -15px; background: #eee; }
.day1 { border-top: 3px solid #ccc; }
.day1:first-of-type { border-top: none; }
.day0,
.day6 { color: #999; }
.titleContainer { align-items: baseline; display: flex; }
.titleContainer:first-of-type { border: none; }
.fieldTypeContainer { display: flex; margin-top: 10px; }
.button { text-align: center; width: 50px; outline: none; background-color: #fff; display: block; margin-bottom: 10px; margin-left: 5px; color: #333; padding: 5px; border: 2px solid #333; border-bottom-style: none; border-radius: 2px; line-height: 1; text-decoration: none; }
.filters .button { height: 30px; width: 80px; border: 2px solid #666; color: black; cursor: pointer; margin-bottom: 0;}
.filters .button:before { content: '✓'; margin-right: 2px; margin-left: -3px;}
.fieldTypeContainer .button { width: 60px; }
label { font-size: 11px; cursor: pointer; margin-left: 20px; }
.button.bubble { border-bottom: none; border-radius: 20px 20px 0 0; }
.button.indoor { border-bottom: none; }
.button.outdoor { border: none; border-bottom: 2px solid #666; }
.button.double { }
.button.meilahti { border-color: #449d44; color: #449d44; }
.button.herttoniemi { border-color: #337ab7; color: #337ab7; }
.button.kulosaari { border-color: #31b0d5; color: #31b0d5; }
.button.merihaka { border-color: #f0ad4e; color: #f0ad4e; }
.button.taivallahti { border-color: #d9534f; color: #d9534f; }
.button.tali { border-color: #d454bf; color: #d454bf; }
.button.tapiola { border-color: #a8714e; color: #a8714e; }
.button.laajasalo { border-color: #ab9c25; color: #ab9c25; }
.button.hiekkaharju { border-color: #cd7365; color: #cd7365; }
.meilahti .meilahti,
.herttoniemi .herttoniemi,
.kulosaari .kulosaari,
.merihaka .merihaka,
.taivallahti .taivallahti,
.tapiola .tapiola,
.tali .tali,
.laajasalo .laajasalo,
.hiekkaharju .hiekkaharju,
.outdoor .outdoor,
.indoor .indoor,
.single .single,
.bubble .bubble { display: none; }
.button[disabled] {border-color: #999; border-style: dashed; color: #999; text-decoration: line-through;}
.submitFeedback { border: 2px solid; }
.submitFeedback:disabled { color: #999; border-color: #eee; }
.filters { margin: 0 auto; max-width: 1024px; box-sizing: border-box; box-shadow: 0 3px 4px -3px #333; padding: 0 10px 0; width: 100%; position: fixed; background-color: #fff; z-index: 1; top:0;}
.filters h3 { font-size: 12px; text-transform: uppercase; margin: 10px 0 0; letter-spacing: 1px;}
.timeFilterContainer { display: inline-flex; align-items: center; flex-wrap: wrap; margin-bottom: 10px;}
.timeFilterStart,
.timeFilterEnd { display: block }
.rangeLabel { width: 100px; font: 14px "Courier New"; font-weight: bold; }
#slider { margin: 10px 20px 10px 10px; width: 200px; height:20px;}
header { position: fixed; top: 0; background: #31b0d5; color: #fff; width: 100%; text-transform: uppercase; z-index: 1; }
nav ul { display: flex; flex-direction: row; justify-content: space-between; align-items: stretch; padding: 0; margin: 0 20px; }
nav li { display: inline-block; padding: 10px 0; cursor: pointer; }
nav li.selected { cursor: default; }
.selected { text-decoration: underline; }
.container { margin: 0 auto; background: #fff; box-shadow: 0 0 3px 0 #ccc; min-height: 1024px; max-width: 1024px; }
.toggleFilters {   background: linear-gradient(
        to bottom,
        #ff8b01, #ff8b01 20%,
        transparent 20%, transparent 40%,
        #ff8b01 40%, #ff8b01 60%,
        transparent 60%, transparent 80%,
        #ff8b01 80%, #ff8b01 100%
); display: block; width: 28px; height: 20px; position: absolute; right: 10px; top: 10px; }
.toggleMapInformation { display: inline-block; line-height: 2; margin-left: 10px;}
.locationsContainer { flex-wrap: wrap; display: flex; padding-bottom: 0; }
.locationsContainer .button { margin: 5px 0 0 5px; }
.toggleInformation { position: fixed; bottom: 10px; right: 5px; display: inline-block; color: #ff6900; }
.toggleInformation:before { content: 'i'; width: 15px; height: 15px; margin-right:5px; display: inline-block; color: #fff; background: #ff8b01; font-family: "Times New Roman", serif; text-align: center; line-height: 1; font-size: 15px; border-radius: 100px; text-decoration: none; font-style: italic; font-weight: bold; }
.filters .close { font-size: 40px; border: none; right: 0; top: 20px; left: initial; background: none; color: #ff8b01;  }
.filters .toggleFilters { display: none; }
.filters.collapsed { display:none;}
.button:active { outline: none; }
input[type="checkbox"] { margin-right: 1px; }
.button.inactive { color: #999; background: none; border-color: #eee; box-shadow: 0 1px 1px 0 #aaa; }
.filters .button.inactive:before { visibility: hidden;}
.loading:after { content: 'Ladataan...'; display: block; font-style: italic; margin: 10px 0; }
.timestamp { margin-left: 10px; font-size: 10px; margin-bottom: 10px; }
.timeRow { display: flex; line-height: 0; flex-wrap: wrap; }
.timeWrapper { position: relative; overflow: hidden; }
a,
a:visited { color: #ff6900; }
#schedule { padding: 0 10px 0; }
#schedule .filters { position: static; visibility: hidden;}
#schedule.collapsed { padding: 0 10px 0; }
#schedule.collapsed  .filters { display:none; }
.noUi-connect { background: #ff6900; }
.fields { display: flex; font-size: 11px; min-height: inherit; }
.ct-horizontal { padding-right: 10px; transform: rotate(-90deg); }
.quickLinks { position: fixed; top: 0; bottom: 0; z-index: 1; display: flex; flex-direction: column; justify-content: space-between; align-items: stretch;display:none;}
.quickLinks a { display: block; text-decoration: none; font-size: 11px; background: #fff; padding: 2px; }
.quickLinks a:hover { background: #fff; }
.h60 .h60,
.h65 .h65,
.h70 .h70,
.h75 .h75,
.h80 .h80,
.h85 .h85,
.h90 .h90,
.h95 .h95,
.h100 .h100,
.h105 .h105,
.h110 .h110,
.h115 .h115,
.h120 .h120,
.h125 .h125,
.h130 .h130,
.h135 .h135,
.h140 .h140,
.h145 .h145,
.h150 .h150,
.h155 .h155,
.h160 .h160,
.h165 .h165,
.h170 .h170,
.h175 .h175,
.h180 .h180,
.h185 .h185,
.h190 .h190,
.h195 .h195,
.h200 .h200,
.h205 .h205,
.h210 .h210,
.h215 .h215,
.h220 .h220,
.h225 .h225 { display: none; }
